<div class="row mt-5 pt-5 pr-n3 ">
  <h5>List of Bookmarks</h5>
  <% @bookmarks.each do |bookmark| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= "@" << bookmark.author.username %>
          <%= bookmark.author.full_name %>
        </h5>
        <p class="card-text">
          <%= bookmark.text%><br>
        </p>
      </div>
    </div>
  <% end %>
</div>
