<% followers.each do |user| %>
  <div class="row">
    <div class="image col-3">
      <%= image_tag(retrieve_image(user), size: 64, alt: user_details(user))%>
    </div>
    <div class="col-9 ml-n2">
      <%= link_to user_details(user), user_path(usr_id(user)), class: "pt-3 pb-3 list-group-item font-weight-bold" %>
    </div>
  </div>
<% end %>
