<div class="row mt-5 pt-5 pr-n3 ">
  <div class="col-9">
    <%= render 'layouts/header' %>
    <h5>Trends for you</h5>
    <%= render 'trends' %>
  </div>
  <div class="col-3">
  <%= render 'layouts/who_to_follow'%>
  </div>
</div>
