<ul class="who-to-follow list-group pr-0 pt-3">
  <li class="pt-3 pb-3 list-group-item text-uppercase h5">Who to follow</li>
  <% @who_to_follow.each do |user| %>
    <div class="row">
      <div class="image col-3">
        <%= image_tag(avatar_url(user), size: 64, alt: user_details(user))%>
      </div>
      <div class="col-9 ml-n2">
        <%= link_to user_details(user), user_path(usr_id(user)), class: "pt-3 pb-3 list-group-item font-weight-bold" %>
      </div>
    </div>
  <% end %>
</ul>
